# IDEs
.idea/
.links/

# ML
output/

# Native build outputs
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Python stuff
*.pyc
*.pyo
__pycache__


# Temporary files
*~